<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the Document</title>
</head>
<body>
    <h1 id="new">Edit your Blog !!!</h1>
    <fieldset id="field">
        <form action="/blogs/<%=foundComment.id%>?_method=PATCH" method="post" >
                 <br>
                <label for="comment">Enter Comment:-</label><br><br>
                <textarea name="comment" id="comment" rows="15"  cols="30"  value="<%=foundComment.comment %>" placeholder="Enter your comment"></textarea >
                <br><br>
                <button id="btn" type="submit">Submit</button>
        </form>
    </fieldset>
    
</body>
</html>